$color-primary: #01A982;
$color-blue-slate: #425563;
$color-hell: #5c0a0a;

html {
  font-size: 20px;
}

body {
  font-family: 'Metric', sans-serif;
  color: #e6edeb;
  transition: background-color 1000ms linear;
  background: radial-gradient(ellipse at center,  lighten($color-blue-slate, 20%) 0%,lighten($color-blue-slate, 10%) 47%,$color-blue-slate 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#hell-background {
  background: radial-gradient(ellipse at center,  lighten($color-hell, 30%) 0%,lighten($color-hell, 10%) 47%,$color-hell 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1000ms linear;
}

body.impress-on-pixelation {
  #hell-background {
    opacity: 1;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}

strong {
  font-weight: 600;
}

#opening {
  .row {
    padding-top: 2rem;
  }

  .icon-hplogo {
    margin-top: 2rem;
    margin-bottom: 5rem;
    color: $color-primary;
    font-size: 10rem;
  }

}

#who-am-i {
  img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    //opacity: 0;
  }

  &.present {
    img {
      //animation-duration: 1s;
      //animation-fill-mode: both;
      //animation-name: fadeIn;
    }
  }

  &.past {
    img {
      //opacity: 1;
    }
  }
}

#icon-font {
  .row {
    margin-top: 12rem;
  }

  &.future {
    .icon {
      transform: scale3d(0, 0, 0);
    }
  }

  &.present {
    .icon {
      animation-name: bounceIn;
    }
  }

  .icon {
    opacity: 0;
    position: absolute;
    animation-duration: 1s;
    animation-fill-mode: both;

    font-size: 2rem;
    color: $color-primary;
    &.first-wave {
      animation-delay: 0.75s;
    }
    &.second-wave {
      animation-delay: 1s;
    }
    &.third-wave {
      animation-delay: 1.25s;
    }
    &.big {
      font-size: 3rem;
    }
    &.huge {
      font-size: 4rem;
    }
  }

  &.present, &.past {
    .icon {
      opacity: 1;
    }
  }

  .icon-favorit {
    left: 21rem;
    top: -5rem;
  }
  .icon-cloud {
    left: 24rem;
    top: 5rem;
  }
  .icon-antena {
    left: 22rem;
    top: 10rem;
  }
  .icon-announcement {
    left: 7rem;
    top: 3rem;
  }
  .icon-alarm {
    left: 12rem;
    top: -5rem;
  }
  .icon-feamle {
    left: 5rem;
    top: -2rem;
  }
  .icon-group {
    left: 12rem;
    top: 6rem;
  }
  .icon-mail {
    left: 17rem;
    top: 5rem;
  }
  .icon-search {
    left: 30rem;
    top: -4rem;
  }
  .icon-settings {
    left: 25rem;
    top: -4rem;
  }
  .icon-threats {
    left: 30rem;
    top: 4rem;
  }
}

#why {
  .try {
    font-size: 64px;
    position: absolute;
    top: -0.5em;
    left: 0em;

    transform:         translateZ(20px);
  }

  h1 {
    font-size: 190px;
    margin-left: 15rem;

    transform:         translateZ(50px);
  }

  .footnote {
    margin-left: 5rem;
    font-size: 2rem;
  }
}

#mona {
  img {
    border: 1rem solid $color-primary;
    width: 100%;
  }
  span {
    font-size: 30px;
    line-height: 40px;
    display: block;
  }
  .footnote {
    padding-top: 18rem;
  }
}

#pixelation {
  h1 {
    font-family: 'silkscreennormal';
    font-size: 80px;
    margin-top: 8rem;
  }
  img {
    width: 100%;
  }
}

#microsoft {
  font-size: 30px;
  div {
    padding-left: 10rem;
    padding-top: 5rem;
  }
}

#andy {
  img {
    width: 100%;
  }
}

#juggle {
  img {
    width: 100%;
  }
}

#font1 {
  span {
    font-size: 350px;
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    left: 0;
    top:-100px;
    text-transform: capitalize;
  }
  #flipper {
    animation: zoomIn 15s ease-in 0s 1;
    width: 400px;
    height: 400px;
    position: relative;
  }
}

#font2 {
  .row {
    height: 380px;

  }
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 380px;
    font-size: 350px;
  }
  .first-icon {
    background: -webkit-gradient(linear,  left top,  right top,
      color-stop(0%, rgba(255, 255, 0, 1)),
      color-stop(30%, rgba(0, 255, 0, 1)),
      color-stop(50%, rgba(0, 255, 255, 1)),
      color-stop(65%, rgba(0, 0, 255, 1)),
      color-stop(80%, rgba(255, 0, 255, 1)),
      color-stop(100%, rgba(255, 0, 0, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .css-code {
    position: absolute;
    top: -100px;
    right: -100px;
    background: white;
    color: $color-primary;
    padding: 1rem;
    font-size: 1.5rem;
    span {
      color: gray;
    }
    .nekudapsik {
      color: #F04953;
    }
  }

  &.present {
    .first-icon {
      animation: fadeOut 0.5s ease-out 5s 1;
      animation-fill-mode: forwards;
    }
    .second-icon {
      animation: color-fun 6s ease-out 5s 1;
      animation-fill-mode: forwards;
    }
    .css-code {
      animation: zoomInDown 1.5s ease-out 10s 1;
      animation-fill-mode: both;
    }

  }

}

#font3 {
  .icon {
    transform: rotate(90deg);
    font-size: 350px;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    font-size: 350px;
    display: block;
    padding-left: 27px;
  }
  .row {
    height: 400px;
  }
  .css-code {
    position: absolute;
    top: -100px;
    right: -100px;
    background: white;
    color: $color-primary;
    padding: 1rem;
    font-size: 1.5rem;
    color: gray;
    .css-function {
      color: #FFD144;
    }
    .css-value {
      color: #8C6694;
    }
    .nekudapsik {
      color: #F04953;
    }
  }
  &.present {
    .icon {
      animation: spin-fun 10s cubic-bezier(.1,.1,.04,1) 5s 1;
      animation-fill-mode: both;
    }
    .css-code {
      animation: zoomInDown 1.5s ease-out 17s 1;
      animation-fill-mode: both;
    }
  }
}
