@charset "UTF-8";

@font-face {
  font-family: "hpln";
  src:url("hpln.eot");
  src:url("hpln.eot?#iefix") format("embedded-opentype"),
    url("hpln.woff") format("woff"),
    url("hpln.ttf") format("truetype"),
    url("hpln.svg#hpln") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hpln" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hpln" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2-server:before {
  content: "a";
}
.icon-3d:before {
  content: "b";
}
.icon-achievement:before {
  content: "c";
}
.icon-aciton:before {
  content: "d";
}
.icon-add:before {
  content: "e";
}
.icon-addregate:before {
  content: "f";
}
.icon-adduser:before {
  content: "g";
}
.icon-admin:before {
  content: "h";
}
.icon-advance-search:before {
  content: "i";
}
.icon-alarm:before {
  content: "j";
}
.icon-alert:before {
  content: "k";
}
.icon-analytics:before {
  content: "l";
}
.icon-announcement:before {
  content: "m";
}
.icon-bundle:before {
  content: "n";
}
.icon-bug-defect:before {
  content: "o";
}
.icon-bookmark:before {
  content: "p";
}
.icon-book:before {
  content: "q";
}
.icon-blog:before {
  content: "r";
}
.icon-bar-chart:before {
  content: "s";
}
.icon-attachment:before {
  content: "t";
}
.icon-ascend:before {
  content: "u";
}
.icon-article:before {
  content: "v";
}
.icon-archive:before {
  content: "w";
}
.icon-apple:before {
  content: "x";
}
.icon-app:before {
  content: "y";
}
.icon-antena:before {
  content: "z";
}
.icon-calculator:before {
  content: "A";
}
.icon-calendar:before {
  content: "B";
}
.icon-camera:before {
  content: "C";
}
.icon-capacity:before {
  content: "D";
}
.icon-catalog:before {
  content: "E";
}
.icon-certification:before {
  content: "F";
}
.icon-chapter-add:before {
  content: "G";
}
.icon-chat:before {
  content: "H";
}
.icon-checkbox:before {
  content: "I";
}
.icon-checkbox-selected:before {
  content: "J";
}
.icon-checkmark:before {
  content: "K";
}
.icon-circular-view:before {
  content: "L";
}
.icon-clipboard:before {
  content: "M";
}
.icon-compass:before {
  content: "N";
}
.icon-compare:before {
  content: "O";
}
.icon-community:before {
  content: "P";
}
.icon-command:before {
  content: "Q";
}
.icon-code:before {
  content: "R";
}
.icon-cluster:before {
  content: "S";
}
.icon-clous-computer:before {
  content: "T";
}
.icon-cloud-upload:before {
  content: "U";
}
.icon-cloud-software:before {
  content: "V";
}
.icon-cloud-download:before {
  content: "W";
}
.icon-cloud:before {
  content: "X";
}
.icon-close:before {
  content: "Y";
}
.icon-clone:before {
  content: "Z";
}
.icon-compliance:before {
  content: "0";
}
.icon-configuration:before {
  content: "1";
}
.icon-connect:before {
  content: "2";
}
.icon-contact-info:before {
  content: "3";
}
.icon-contact-us:before {
  content: "4";
}
.icon-contract:before {
  content: "5";
}
.icon-copy:before {
  content: "6";
}
.icon-crome:before {
  content: "7";
}
.icon-cube:before {
  content: "8";
}
.icon-cursor:before {
  content: "9";
}
.icon-cut:before {
  content: "!";
}
.icon-cycle:before {
  content: "\"";
}
.icon-dashboard:before {
  content: "#";
}
.icon-document-data:before {
  content: "$";
}
.icon-document-csv:before {
  content: "%";
}
.icon-document-configuration:before {
  content: "&";
}
.icon-divit-to-fright:before {
  content: "'";
}
.icon-divit-to-four:before {
  content: "(";
}
.icon-divit-in-center:before {
  content: ")";
}
.icon-divide-to-three:before {
  content: "*";
}
.icon-directions:before {
  content: "+";
}
.icon-detach:before {
  content: ",";
}
.icon-desktop:before {
  content: "-";
}
.icon-descend:before {
  content: ".";
}
.icon-deployment:before {
  content: "/";
}
.icon-databased:before {
  content: ":";
}
.icon-document-download:before {
  content: ";";
}
.icon-document-general:before {
  content: "<";
}
.icon-document-image:before {
  content: "=";
}
.icon-document-performance:before {
  content: ">";
}
.icon-document-text:before {
  content: "?";
}
.icon-document-threats:before {
  content: "@";
}
.icon-document-time:before {
  content: "[";
}
.icon-document-upload:before {
  content: "]";
}
.icon-document-user:before {
  content: "^";
}
.icon-document-word:before {
  content: "_";
}
.icon-documenttransfer:before {
  content: "`";
}
.icon-domain:before {
  content: "{";
}
.icon-download:before {
  content: "|";
}
.icon-feamle:before {
  content: "}";
}
.icon-favorit:before {
  content: "~";
}
.icon-fast-forward:before {
  content: "\\";
}
.icon-fan:before {
  content: "\e000";
}
.icon-facebook:before {
  content: "\e001";
}
.icon-explorer:before {
  content: "\e002";
}
.icon-expand:before {
  content: "\e003";
}
.icon-eject:before {
  content: "\e004";
}
.icon-edit:before {
  content: "\e005";
}
.icon-duplicate:before {
  content: "\e006";
}
.icon-dropbox:before {
  content: "\e007";
}
.icon-drive:before {
  content: "\e009";
}
.icon-filter:before {
  content: "\e00a";
}
.icon-firefox:before {
  content: "\e00b";
}
.icon-flag:before {
  content: "\e00c";
}
.icon-folder:before {
  content: "\e00d";
}
.icon-folder-cycle:before {
  content: "\e00e";
}
.icon-folder-open:before {
  content: "\e00f";
}
.icon-gallery:before {
  content: "\e010";
}
.icon-globe:before {
  content: "\e011";
}
.icon-google:before {
  content: "\e012";
}
.icon-google-wallet:before {
  content: "\e013";
}
.icon-grid:before {
  content: "\e014";
}
.icon-group:before {
  content: "\e015";
}
.icon-grow:before {
  content: "\e016";
}
.icon-inherit:before {
  content: "\e017";
}
.icon-information:before {
  content: "\e018";
}
.icon-indicator:before {
  content: "\e019";
}
.icon-inbox:before {
  content: "\e01a";
}
.icon-in-progress:before {
  content: "\e01b";
}
.icon-impact:before {
  content: "\e01c";
}
.icon-image:before {
  content: "\e01d";
}
.icon-hplogo:before {
  content: "\e01e";
}
.icon-host-maintenance:before {
  content: "\e01f";
}
.icon-host:before {
  content: "\e020";
}
.icon-home:before {
  content: "\e021";
}
.icon-history:before {
  content: "\e022";
}
.icon-help:before {
  content: "\e023";
}
.icon-install:before {
  content: "\e024";
}
.icon-instegram:before {
  content: "\e025";
}
.icon-integration:before {
  content: "\e026";
}
.icon-inviroment:before {
  content: "\e027";
}
.icon-isracard:before {
  content: "\e028";
}
.icon-iteration:before {
  content: "\e029";
}
.icon-java:before {
  content: "\e02a";
}
.icon-language:before {
  content: "\e02b";
}
.icon-launch:before {
  content: "\e02c";
}
.icon-license:before {
  content: "\e02d";
}
.icon-like:before {
  content: "\e02e";
}
.icon-line-chart:before {
  content: "\e02f";
}
.icon-link:before {
  content: "\e030";
}
.icon-map-point:before {
  content: "\e031";
}
.icon-map:before {
  content: "\e032";
}
.icon-manual:before {
  content: "\e033";
}
.icon-managment:before {
  content: "\e034";
}
.icon-maintenance:before {
  content: "\e035";
}
.icon-maildark:before {
  content: "\e036";
}
.icon-mail:before {
  content: "\e037";
}
.icon-logout:before {
  content: "\e038";
}
.icon-login:before {
  content: "\e039";
}
.icon-lock:before {
  content: "\e03a";
}
.icon-location-pin:before {
  content: "\e03b";
}
.icon-linkedin:before {
  content: "\e03d";
}
.icon-menu:before {
  content: "\e03c";
}
.icon-optimization:before {
  content: "\e03e";
}
.icon-notification:before {
  content: "\e03f";
}
.icon-notes:before {
  content: "\e040";
}
.icon-next:before {
  content: "\e041";
}
.icon-new-window:before {
  content: "\e042";
}
.icon-new-user:before {
  content: "\e043";
}
.icon-new:before {
  content: "\e044";
}
.icon-navigate:before {
  content: "\e045";
}
.icon-multiple:before {
  content: "\e046";
}
.icon-more:before {
  content: "\e047";
}
.icon-monitor:before {
  content: "\e048";
}
.icon-missind-document:before {
  content: "\e049";
}
.icon-microphone:before {
  content: "\e04a";
}
.icon-organization:before {
  content: "\e04b";
}
.icon-overview:before {
  content: "\e04c";
}
.icon-pan:before {
  content: "\e04d";
}
.icon-partner:before {
  content: "\e04e";
}
.icon-pause:before {
  content: "\e04f";
}
.icon-paypal:before {
  content: "\e050";
}
.icon-personal-computer:before {
  content: "\e051";
}
.icon-pin:before {
  content: "\e052";
}
.icon-pinterest:before {
  content: "\e053";
}
.icon-plan:before {
  content: "\e054";
}
.icon-play:before {
  content: "\e055";
}
.icon-police:before {
  content: "\e056";
}
.icon-power:before {
  content: "\e057";
}
.icon-rss:before {
  content: "\e058";
}
.icon-robot:before {
  content: "\e059";
}
.icon-risk:before {
  content: "\e05a";
}
.icon-right:before {
  content: "\e05b";
}
.icon-resources:before {
  content: "\e05c";
}
.icon-report:before {
  content: "\e05d";
}
.icon-report-1:before {
  content: "\e05e";
}
.icon-refresh:before {
  content: "\e05f";
}
.icon-redit:before {
  content: "\e060";
}
.icon-redial-selected:before {
  content: "\e061";
}
.icon-radial-button:before {
  content: "\e062";
}
.icon-quick-view:before {
  content: "\e063";
}
.icon-print:before {
  content: "\e064";
}
.icon-schedule-clone:before {
  content: "\e065";
}
.icon-schedule-new:before {
  content: "\e066";
}
.icon-scorecard:before {
  content: "\e067";
}
.icon-search:before {
  content: "\e068";
}
.icon-secure:before {
  content: "\e069";
}
.icon-select:before {
  content: "\e06a";
}
.icon-select-left:before {
  content: "\e06b";
}
.icon-server:before {
  content: "\e06c";
}
.icon-server-one:before {
  content: "\e06d";
}
.icon-servis-start:before {
  content: "\e06e";
}
.icon-servise:before {
  content: "\e06f";
}
.icon-settings:before {
  content: "\e070";
}
.icon-share:before {
  content: "\e071";
}
.icon-stop:before {
  content: "\e072";
}
.icon-steps:before {
  content: "\e073";
}
.icon-star:before {
  content: "\e074";
}
.icon-stakeholder:before {
  content: "\e075";
}
.icon-sort:before {
  content: "\e076";
}
.icon-soa:before {
  content: "\e077";
}
.icon-skype:before {
  content: "\e078";
}
.icon-shpping-basket:before {
  content: "\e079";
}
.icon-shopping-cart:before {
  content: "\e07a";
}
.icon-shift-spring:before {
  content: "\e07b";
}
.icon-shield-cog:before {
  content: "\e07c";
}
.icon-shield:before {
  content: "\e07d";
}
.icon-shcedule-play:before {
  content: "\e07e";
}
.icon-storage:before {
  content: "\e07f";
}
.icon-street-view:before {
  content: "\e080";
}
.icon-support:before {
  content: "\e081";
}
.icon-synce:before {
  content: "\e082";
}
.icon-system:before {
  content: "\e083";
}
.icon-tab-carrot:before {
  content: "\e084";
}
.icon-table-add:before {
  content: "\e085";
}
.icon-tag:before {
  content: "\e086";
}
.icon-target:before {
  content: "\e087";
}
.icon-task:before {
  content: "\e088";
}
.icon-template:before {
  content: "\e089";
}
.icon-test:before {
  content: "\e08a";
}
.icon-test-desktop:before {
  content: "\e08b";
}
.icon-trophy:before {
  content: "\e08c";
}
.icon-trigger:before {
  content: "\e08d";
}
.icon-tree:before {
  content: "\e08e";
}
.icon-treatment:before {
  content: "\e08f";
}
.icon-trash:before {
  content: "\e090";
}
.icon-transit:before {
  content: "\e091";
}
.icon-transaction:before {
  content: "\e092";
}
.icon-top:before {
  content: "\e093";
}
.icon-tooltip:before {
  content: "\e094";
}
.icon-tools:before {
  content: "\e095";
}
.icon-ticket:before {
  content: "\e096";
}
.icon-threats:before {
  content: "\e097";
}
.icon-text-warp:before {
  content: "\e098";
}
.icon-troubleshooting:before {
  content: "\e099";
}
.icon-tumbler:before {
  content: "\e09a";
}
.icon-twitter:before {
  content: "\e09b";
}
.icon-unlock:before {
  content: "\e09c";
}
.icon-unview:before {
  content: "\e09d";
}
.icon-up:before {
  content: "\e09e";
}
.icon-update:before {
  content: "\e09f";
}
.icon-upgrade:before {
  content: "\e0a0";
}
.icon-upload:before {
  content: "\e0a1";
}
.icon-user:before {
  content: "\e0a2";
}
.icon-user-expert:before {
  content: "\e0a3";
}
.icon-user-settings:before {
  content: "\e0a4";
}
.icon-validation:before {
  content: "\e0a5";
}
.icon-zoomin:before {
  content: "\e0a6";
}
.icon-zip:before {
  content: "\e0a7";
}
.icon-youtube:before {
  content: "\e0a8";
}
.icon-workshop:before {
  content: "\e0a9";
}
.icon-worker:before {
  content: "\e0aa";
}
.icon-windows:before {
  content: "\e0ab";
}
.icon-waypoint:before {
  content: "\e0ac";
}
.icon-vulnerability:before {
  content: "\e0ad";
}
.icon-volume:before {
  content: "\e0ae";
}
.icon-viza:before {
  content: "\e0af";
}
.icon-virtual-machine:before {
  content: "\e0b0";
}
.icon-view:before {
  content: "\e0b1";
}
.icon-video:before {
  content: "\e0b2";
}
.icon-sun:before {
  content: "\e0b3";
}
.icon-linux:before {
  content: "\e0b4";
}
.icon-drop-carrot:before {
  content: "\e008";
}
.icon-confirm:before {
  content: "\e0b8";
}
.icon-error:before {
  content: "\e0b9";
}
.icon-tile-view:before {
  content: "\e0b5";
}
.icon-list-view:before {
  content: "\e0b6";
}
.icon-back:before {
  content: "\e0b7";
}
.icon-back-link:before {
  content: "\e0ba";
}
.icon-plus:before {
  content: "\e0bb";
}
